<%= form_for(@kid, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>
  <% if @kid.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@kid.errors.count, "error") %> prohibited this kid from being saved:</h4>

      <ul>
      <% @kid.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :first_name, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :last_name, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :gender, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :gender, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :date_of_birth, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :date_of_birth, :class => "form-control datepicker" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :parent_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :parent_id, options_from_collection_for_select(Customer.all, "id", "name", @kid.parent_id), { :include_blank=>true }, { :class => 'form-control' } %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
