<h1>Listing customers</h1>

<table>
  <thead>
    <tr>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.first_name %></td>
        <td><%= customer.last_name %></td>
        <td><%= customer.email %></td>
        <td><button type="button" class="btn btn-info"><%= link_to 'Show', customer %></button></td>
        <td><button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_customer_path(customer) %></button></td>
        <td><button type="button" class="btn btn-danger"><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-primary"><%= link_to 'New Customer', new_customer_path %></button>
