<%= f.fields_for :user do |u| %>
  <div class="form-group">
    <%= u.label :email %>
    <%= u.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= u.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it") %>)</i><br />
    <%= u.password_field :password, :autocomplete => "off", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= u.label :password_confirmation %><br />
    <%= u.password_field :password_confirmation, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= u.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') %>)</i>
    <%= u.password_field :current_password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= u.label :authentication_token %>
    <%= u.text_field :authentication_token, disabled: "disabled", class: "form-control" %>
  </div>
<% end %>
