<div class="page-header">
  <%= link_to edit_parent_path(@parent), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show parent</h1>
</div>

<dl class="dl-horizontal">
  <dt>First name:</dt>
  <dd><%= @parent.first_name %></dd>

  <dt>Last name:</dt>
  <dd><%= @parent.last_name %></dd>
</dl>

<%= render @parent.address %>

<div class="page-header">
  <%= link_to "New Kids", new_parent_kid_path(@parent), class: "btn btn-primary" %>
  <h2>Show Parent's Kids</h2>
</div>

<%= render "kids/kids_table", kids: @parent.kids %>
