<div class="page-header">
  <h1>Activities</h1>
</div>

<ul>
  <%= content_tag_for(:li, activities) do |activity| %>
    <%= activity.owner.role.name %>
    <%= activity.sentence %>
    for "<%= activity.trackable_type %>"
    <%= distance_of_time_in_words(Time.now, activity.created_at) %> ago
  <% end %>
</ul>
